{{ template "head-nav.html" . }}

<main class="text-left mt-5 form-wrapper">

  <form id="reset-password-form-1">
    <h2 class="h5-forgot-pw h5 mb-3 fw-bold">Forgot Password?</h2>
    <p class="h6-forgot-pw">Please enter the email address affiliated with your Coeus education account. Select “send
      verification code” to receive a one time code to reset your password.</p>
    <input name="forgot-password-email" type="email" id="forgot-password-email" class="r-br10 form-control sign-in-form-control"
      placeholder="Email address">

    <div class="d-grid gap=2 mt-4">
      <button onclick="sendResetEmail(event)" type="button" class="coeus-secondary-btn">
        Send verification code
      </button>
    </div>

    <div id="email-error-alert" class="alert alert-danger mt-4" role="alert">
      This email is not in our system. Please try again.
    </div>
  </form>

  <form id="reset-password-form-2">
    <h2 class="h5-forgot-pw h5 mb-3 fw-bold">Enter verification code</h2>

    <div class="d-flex justify-content-center mt-4 g12px">
      <input type="tel" maxlength="1" name="pin-input-0" class="forgot-pw-input pin-input form-control" data-index="0">
      <input type="tel" maxlength="1" name="pin-input-1" class="forgot-pw-input pin-input form-control" data-index="1">
      <input type="tel" maxlength="1" name="pin-input-2" class="forgot-pw-input pin-input form-control" data-index="2">
      <input type="tel" maxlength="1" name="pin-input-3" class="forgot-pw-input pin-input form-control" data-index="3">
      <input type="tel" maxlength="1" name="pin-input-4" class="forgot-pw-input pin-input form-control" data-index="4">
      <input type="tel" maxlength="1" name="pin-input-5" class="forgot-pw-input pin-input form-control" data-index="5">
    </div>

    <div class="d-grid gap=2 mt-4">
      <button onclick="verifyPin(event)" type="button" class="coeus-secondary-btn">
        Continue
      </button>
    </div>

    <div id="pin-error-alert" class="alert alert-danger mt-4" role="alert">
      The pin you entered is incorrect. Please try again.
    </div>

    <div id="email-success-alert" class="alert alert-success mt-4" role="alert">
      An email has been sent to your email address. Please check your inbox or spam.
    </div>
  </form>

  <form id="reset-password-form-3">
    <h2 class="h5-forgot-pw h5 mb-3 fw-bold">Reset Password</h2>

    <input name="reset-password" type="password" id="reset-password" class="r-br10 my-3 form-control sign-in-form-control"
      placeholder="Enter new password">

    <input name="confirm-reset-password" type="password" id="confirm-reset-password"
      class="r-br10 my-3 form-control sign-in-form-control" placeholder="Confirm new password">

    
    <div class="d-grid gap=2 mt-4">
      <button onclick="resetPasswordAndSignIn(event)" type="button" class="coeus-secondary-btn">
        Reset Password
      </button>
    </div>
  
    <div id="pin-success-alert" class="alert alert-success mt-4" role="alert">
      Your password has been reset. Please continue to sign in.
    </div>

    <div id="password-reset-error-alert" class="alert alert-danger mt-4" role="alert">
      Your password has not been reset. Please try again.
    </div>
  </form>

  <section class="d-grid gap=2 ">
    <a href="/sign-in" class="create-account-link text-center mt-3">Back to sign in</a>
  </section>
</main>
