<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="d-flex">
                <a class="navbar-brand" href="/admin">
                    {{if eq .organizationLogo ""}}
                    <img src="/static/logo/logo-placeholder.png" class="organization-logo" alt="logo placeholder" />
                    {{else}}
                    <img src="{{.organizationLogo}}" class="organization-logo" />
                    {{end}}
                </a>
                <a class="navbar-brand" href="/admin">
                    <img id="coeus-logo-dark" src="/static/images/coeus-logo.png" class="coeus-logo"
                        alt="Coeus3 Logo" />
                </a>
            </div>
            <div class="dropdown custom-nav-dropdown">
                <button class="dropdown-circle" id="userDropdown" data-mdb-toggle="dropdown" aria-expanded="false">
                    {{.userInitials}}
                </button>
                <ul class="dropdown-menu custom-nav-dropdown-menu-large" aria-labelledby="userDropdown">
                    <li>
                        <a class="dropdown-item custom-nav-dropdown-item" aria-current="page" href="/admin">User
                            Management
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item custom-nav-dropdown-item" href="/admin/settings">Settings
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>