{{ template "head-nav.html" . }}
<div class="container">
    <div id="" class="page-content-wrapper">
        <div class="d-flex justify-content-between my-5 flex-wrap">
            <div class="d-flex align-items-center">
                <h2 class="mgmt-h2 me-3">Attendance Records</h2>
            </div>
        </div>

        <section id="instructor-courses" class="show-courses hide-courses">
            {{range .courseInfo}}
            <button onclick="displaySections(this)" data-courseid="{{.CourseID}}"
                class="w-100 px-3 coeus-gradient-attendance-btn my-3 height-f-c">

                <strong>{{.CourseNumber}}</strong>
                |
                {{.CourseTitle}}
            </button>
            {{end}}
        </section>

        <section id="instructor-sections-table">
            <button type="button" onclick="showInstructorCourses(event)" class="mgmt-btn-gray">
                Back
            </button>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Course Number</th>
                        <th scope="col">Course Title</th>
                        <th scope="col">Section Name</th>
                    </tr>
                </thead>
                <tbody id="sections-table-body">

                    {{range .attendanceRecords}}

                    <tr class="">
                        <td>{{.Date}}</td>
                        <td>{{.CourseSection.CourseNumber}}</td>
                        <td>{{.CourseSection.CourseTitle}}</td>
                        <td>{{.CourseSection.SectionName}}</td>
                    </tr>

                    {{end}}
                </tbody>
            </table>
        </section>


        <section id="student-records">

            <button type="button" onclick="showSectionTable(event)" class="mgmt-btn-gray">
                Back
            </button>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Student Name</th>

                        <th scope="col text-end">Attendance Status</th>
                    </tr>
                </thead>
            </table>

            <ul id="student-records-list-body" class="list-group list-group-light">
            </ul>

        </section>
    </div>
</div>