{{ template "nav.html" . }}

<div class="container">
    <div id="" class="page-content-wrapper ">
        <div class="d-flex justify-content-between my-5 flex-wrap">
            <div class="d-flex align-items-center">
                <h2 class="mgmt-h2 me-3">User Management</h2>
                <span class="badge badge-primary p-2 me-3 height-f-c">
                    {{.count}} Users
                </span>
                <div class="">
                    <select id="rowSelect" class="form-select select row-select" onchange="onRowSelectChange()">
                        <option value="" disabled selected>Rows</option>
                        <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="{{.count}}">All</option>
                    </select>
                  </div>
            </div>
            <div class="d-flex align-items-center">
                <div class="form-outline w-auto me-3 height-f-c">
                    <div class="form-group">
                      <input oninput="searchUser()" type="text" id="searchInput" class="form-control" placeholder="Name or email" />
                      
                       <img src="/static/images/icon-search.png" alt="search icon">

                    </div>
                  </div>
                
            </div>
        </div>
        <div class="row">
            <div class="item">
              <nav aria-label="Page navigation example">
                <ul id="pagination" class="mgmt-page-nav pagination my-3"></ul>
              </nav>
              <button class="mgmt-btn-gray me-3 height-f-c" data-mdb-toggle="modal"
                data-mdb-target="#add-user-modal">Add User</button>
            </div>
          </div>

        <table id="dataTable" class="w-100 table  table-striped table-hover">
            <thead class="mgmt-table bg-light">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Moderator Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="tableBody" class="">

            </tbody>
        </table>

    </div>
</div>

{{ template "user-modals.html" . }}