{{ template "head-nav.html" . }}

<div class="my-courses-wrapper desktop-wrapper">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="breadcrumb-font" href="/">My Courses</a></li>
            <li class="breadcrumb-font breadcrumb-item active" aria-current="page">Search Courses</li>
        </ol>
    </nav>

    <form class="text-center course-search-form" action="/course-search" method="post"
        onsubmit="courseSearchSubmit(event);">
        <div id="notification"></div>
        <h2 class="course-search-header">
            Search for courses
        </h2>
        <input type="text" id="courseIdentifier" class="course-search-input form-control " name="courseIdentifier"
            placeholder="Course # or name" />

        <button type="submit" class="coeus-secondary-btn">Search</button>
    </form>
    
    {{if eq .isDemo "true"}}
    <hr>

    <p style="margin-top: 4rem; margin-bottom: 4rem;">For demo:
        <br>
        Our live testing course is
        <br>
        CSCI 1115
        <br>
        Or search for most courses with CS
    </p>
    {{end}}

    {{if .isInstructor}}
    <hr class="my-5">
    <div class="d-flex justify-content-end">
        <a href="/instructor" class="coeus-secondary-btn-link secondary-btn-large">Course
            Management
            Page
        </a>
    </div>
    {{end}}

</div>
