<header>
  <nav class="coeus-navbar navbar">
    <div class="container-fluid">
      <div class="d-flex">

        {{if .user}}
        <a class="navbar-brand" href="/">
          {{if eq .organizationLogo ""}}
          <img src="/static/logo/logo-placeholder.png" class="organization-logo" alt="logo placeholder" />
          {{else}}
          <img src="{{.organizationLogo}}" class="organization-logo" />
          {{end}}
        </a>
        <a class="navbar-brand" href="/">
          <img id="coeus-logo-dark" src="/static/images/coeus-logo.png" class="coeus-logo" alt="Coeus3 Logo" />
        </a>
        {{else}}
        <a class="navbar-brand" href="/">
          <img id="coeus-logo-dark" src="/static/images/coeus-logo-login.png" class="coeus-logo" alt="Coeus3 Logo" />
        </a>
        {{end}}
      </div>

      {{if .user}}
      <div class="dropdown custom-nav-dropdown">
        <button class="dropdown-circle" id="userDropdown" data-mdb-toggle="dropdown" aria-expanded="false">
          {{.userInitials}}
        </button>

        {{if .isInstructor}}
        <ul class="dropdown-menu custom-nav-dropdown-menu-large" aria-labelledby="userDropdown">
          <li>
            <a class="dropdown-item custom-nav-dropdown-item" aria-current="page" href="/instructor">
              Course Management
            </a>
          </li>
          <li>
            <a class="dropdown-item custom-nav-dropdown-item" href="/instructor/attendance">
              Attendance
            </a>
          </li>
          <li>
            <a class="dropdown-item custom-nav-dropdown-item" href="/settings">
              Settings
            </a>
          </li>
        </ul>
        {{else}}
        <ul class="dropdown-menu custom-nav-dropdown-menu" aria-labelledby="userDropdown">
          <li>
            <a class="dropdown-item custom-nav-dropdown-item" href="/settings">
              Settings
            </a>
          </li>
        </ul>
        {{end}}

      </div>
      {{end}}
    </div>
  </nav>
</header>