{{ template "head-nav.html" . }}

<section class="my-courses-wrapper universal-desktop-wrapper">
  <input type="hidden" id="setting-timezone-offset" value="{{.timezone}}">

  <button id="edit-settings-toggle" onclick="toggleSettingsForm()">
    Edit settings
  </button>

  <h2 class="settings-font-1">
    Settings
  </h2>

  <section id="settings-info">

    <p>
      <span class="settings-info-label settings-font-2">Full name:</span>
      <span class="settings-info-value">{{.firstName}} {{.lastName}}</span>
    </p>
    <p>
      <span class="settings-info-label settings-font-2">Timezone:</span>
      <span id="settings-timezone-info" class="settings-info-value"></span>
    </p>

    <h4 class="settings-font-1">
      Contact
    </h4>
    <p>
      <span class="settings-info-label settings-font-2">Email:</span>
      <span class="settings-info-value">{{.email}}</span>
    </p>

    <h4 class="settings-font-1">
      Display
    </h4>
    <div class="settings-label-check-wrapper">
      <label class="form-check-label settings-font-2" for="darkModeToggle">Dark mode</label>
      <div class="form-check form-switch settings-form-check">
        <input onchange="toggleDarkTheme()" class="form-check-input dark-form-check-input settings-check-input "
          type="checkbox" id="darkModeToggle" name="dark-mode-toggle" {{.checked}}>
      </div>
    </div>

  </section>

  <form id="settings-form" class="hidden">


    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input type="text" class="form-control settings-input-border" id="firstName" name="firstName"
        value="{{.firstName}}">
    </div>

    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" class="form-control settings-input-border" id="lastName" name="lastName" value="{{.lastName}}">
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="text" class="form-control settings-input-border" id="email" name="email" value="{{.email}}">
    </div>


    <!-- the values for the timezones are in minutes, so -480 is UTC-8 (8 hours behind UTC), 0 is UTC, 330 is UTC+5:30 -->
    <div class="mb-3">
      <label for="timezone" class="form-label">Timezone set:</label>
      <select class="form-select settings-input-border" name="timezone" id="timezone">
        <option value="" disabled selected>Select a timezone</option>
        <option value="-480">PST (UTC-8)</option>
        <option value="-420">MST (UTC-7)</option>
        <option value="-360">CST (UTC-6)</option>
        <option value="-300">CDT (UTC-5)</option>
        <option value="-240">EDT (UTC-4)</option>
        <option value="0">UTC</option>
        <option value="60">CET (UTC+1)</option>
        <option value="120">EET (UTC+2)</option>
        <option value="330">IST (UTC+5:30)</option>
      </select>
    </div>

    <button id="updateUserSettingsButton" onclick="updateUserSettings(event)" data-user-id="{{ .user}}"
      class="settings-btn mt-3">Save Changes</button>

  </form>

  <a class="settings-btn mt-5" href="/logout">Sign out</a>

</section>